:root {
  --primary-color: #312f2f;
  --secondary-color: #53676a;
  --background-color: #49495c;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.navbar {
  background-color: var(--secondary-color);
}

.vertical-nav {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  align-items: flex-end;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.container {
  text-align: center;
  background-color: #b9b4b4;
  padding: 20px;
  border-radius: 10px;
}

.vertical-line {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  background-color: #7979ca;
}

@media (max-width: 768px) {
  .vertical-nav {
    display: none;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
